body{
    background-color: #39A100(88, 139, 0);
    color: #C3ABFF(179, 255, 255);
}
header{
    background-color: #297300;
 color: #A988FC;
}
main{
    background-color:#52a326;
}
footer{
     background-color: #B1E396;
     color:#B496FF; 
}

