body {
    background-color: #eef1ec;
    color: #997be6(179, 255, 255);
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #B1E396;;
    color: #b59af8;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: #B1E396;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: #a083e7;
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: #B1E396;
    margin-top: 8px;

}

.card {
    background-color: #ab8afc;
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid #B1E396;
    border-radius: 10px;
}

.card h3 {
    margin-top: 0;
}

footer {
    background-color: #B1E396;
    color: #8355ff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}